[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Maps
#Exec=/usr/bin/single-instance /opt/meego-handset-maps/bin/meego-handset-maps
Exec=/opt/meego-handset-maps/bin/meego-handset-maps
Icon=/usr/share/pixmaps/icons-Application-maps.png
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
